spring:
  application:
    name: SessionApplication
  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}

server:
  servlet:
    session:
      tracking-modes: cookie
      cookie:
        http-only: true
        secure: true
